#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90vw;
    margin: 0 auto 5rem ;
    padding: .5rem;
}

#logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: fit-content;
}

#logo{
    filter: invert(1);
    width: 100px;
}

#logoText{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--dark);
}

#navLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    gap : clamp(1rem, 10vw, 4rem);
    margin-top: 1rem;
    width: 50%;
}

#navLinks a{
    font-weight: 700;
    font-size: clamp(1rem, 1.5vw, 1.1rem);
    color: var(--dark);
    transition: all 0.25s;  ;
}

#navLinks a.active{
    color: var(--primary);
}

#navLinks a:hover{
    color: var(--primary);
}

#header .btnContainer{
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#title{
    max-width: 950px;
    padding: 0 1rem;
    margin: 0 auto;
}

.grids{
    width: 90%;
    margin: 0 auto;
}

.grid{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    z-index: -1;
    transform: scale(1.1);
}

.grid2{
    z-index: -2;
}

.grid3{
    z-index: -3;
}


@media screen and (max-width: 1200px) {
    .grid2{
        transform: scale(1.1) translateY(30.2%);
    }
}

@media screen and (max-width: 950px) {

    #header .btnContainer{
        display: none;
    }

    #header{
        margin-bottom:  3rem;
    }

    #navLinks{
        width: fit-content;
    }

    .grid{
        top: 30px;
        transform: scale(1.5);
    }

    .grid2{
        transform: scale(1.5) translateY(30.2%);
    }
}

@media screen and (max-width: 768px){
    #header{
        flex-direction: column;
        gap: 1rem;
        margin-bottom:  2rem;
    }

    #logoContainer{
        flex-direction: column;
        gap: 0;
    }
    
    #navLinks{
        margin: 1rem;
        gap: 2rem;    
    }
    
    .grid2{
        transform: scale(1.5) translateY(60.5%);
    }
}

@media screen and (max-width: 480px){

    #navLinks a{
        font-size: .9rem;
    }

    #logoText{
        font-size: 2rem;
    }

    .grid2{
        transform: scale(1.5) translateY(90.5%);
    }

    .grid3{
        transform: scale(1.5) translateY(151%);
    }    
}

