#portfolioSection{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

#portfolioContainer{
    padding: 1rem 0;
    background-color: var(--secondary);
}

#portfolioContainer #content{
    max-width: 1400px;
    width: 90%;
    margin: 5rem auto;
}

#portfolioContainer #btnContainer{
    display: flex;
    margin-bottom: 1rem;
    gap: 1.5rem;
    flex-wrap: wrap;
}

#portfoloContainer .btn{
    color: var(--light);
    background-color: var(--primary);
    font-weight : 1rem;
    padding : 0.5rem 1.2rem;
    border-radius : 4px;
}

#project{
    margin: 4rem auto 0rem;
    padding: 1rem 0;
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    justify-content: space-between;
}

#project .left{
    width: 50%;
    min-width: 400px;
}

#project .right{
    text-align: center;
    width: 550px;
    position: relative;
    z-index: 1;
}

.projectImg{
    max-width: 100%;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.25s;
    margin-bottom: 1.5rem;
    opacity: 1;
    scale: 1;
    transition: scale 0.25s, opacity 0.25s;
}



#project h2{
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.text{
    margin: 2rem 0;
    font-size: clamp(1rem, 1vw, 1.1rem);
}


.controls{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap: 2rem;
    width: 130%;
    position: absolute;
    top: 50%;
    left: -15%;
    transform: translateY(-100%);
    z-index: 2;
}


.controls .control{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
}

.control:hover{
    background-color: var(--borderColor);
}

.control img{
    max-width: 100%; 
}

.prevBtn{
    transform:  rotate(-90deg);
}

.nextBtn{
    transform: rotate(90deg);
}


.right .scrollBar {
    scrollbar-color: #f3d6e0aa #f5f5f5;
    scrollbar-width: thin;
}

.right .scrollBar::-webkit-scrollbar {
    width: 25px;
    border-radius: 15px;
}

.right .scrollBar::-webkit-scrollbar-track {
    background-color: transparent;
    background-image: url(../../assets/icons/ScrollBar.png);
    background-repeat: no-repeat;
    background-position: center;
}

.right .scrollBar::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background: #f3d6e0aa;
    background: -moz-linear-gradient(158deg, #f3d6e0aa 18%, #636efdaa 100%);
    background: -webkit-linear-gradient(158deg, #f3d6e0aa 18%, #636efdaa 100%);
    background: linear-gradient(158deg, #f3d6e0aa 18%, #636efdaa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3d6e0aa", endColorstr="#636efdaa", GradientType=1);
}


@media screen and (max-width: 950px){

    #portfolioContainer #content{
        margin: 4rem auto;
    }

    #project{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 4rem auto 0rem;
    }

    #project .left{
        width: 100%;
        min-width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 768px){

    #project{
        gap: 3rem;
    }

    #project .right{
        width: 400px;
    }


}

@media screen and (max-width: 600px){

    .controls{
        position: relative;
        width: fit-content;
        top: 0;
        left: 0;
        transform: translateY(0);
        margin: .5rem auto;

    }
}

@media screen and (max-width: 500px){
    
}
